@import "../partials/colors";

.offerPage.pagePaneContainer {
  .titleSlide {
    background: $offerColor;

    .slide-title {
      color: $offerColor;
    }
  }

  .titleSlide .pagePaneContent {
    .section1 {
      background: $offerColor;

      h1 {
        background: #ffffff;
        color: $offerColor;
      }

      .sep {
        background: #ffffff;
      }

      img {
        bottom: -63px;
      }

      p {
        font-size: 45px;
      }
    }

    .section2 {
      background: #ffffff;

      p {
        color: $offerColor;
      }

      button {
        background: $offerColor;
      }
    }
  }

  .bulletSlide {}

  .quoteSlide {}

  .endSlide {
    button {
      background: $purchaseColor;
    }
  }

  
}
