@import "../partials/colors";

.outcomePage.pagePaneContainer {
  .titleSlide {
    background: $outcomeColor;

    .slide-title {
      color: $outcomeColor;
    }
  }



  .bulletSlide.bulletSlide2 {
    background: #222222;
    background-size: cover;
    height: 100%;
    max-width: 100%;

    .sliderContent {
      height: auto;
    }


    h1 {
      color: #ffffff;
    }

    .firstFlipSlide {
      color: #ffffff;
      font-size: 2rem;
      line-height: 1.2;
      padding: 40px;
      text-align: left;
    }

    .customFlip {
      color: #ffffff;
      font-size: 2rem;
      line-height: 1.2;
      padding: 40px;;
      text-align: left;
    }

    strong {
      font-family: SourceSansPro-Black, arial, sans-serif;
    }

    .bulletSub {
      color: #ffffff;
      padding-left: 120px;
      padding-right: 160px;
      font-size: 45px;
    }
  }

  .todayTomorrowSlide {
    .todayTomorrowContainer .todayTomorrowMain {
      min-height: 600px;
    }
  }

  .endSlide {

    button {
      background: $purchaseColor;
    }
  }
}
