@import "../partials/colors";

.pretripPage.pagePaneContainer {
  .titleSlide {
    background: $pretripColor;

    .slide-title {
      color: $pretripColor;
    }

    img {
      max-height: 500px;
      max-width: 100%;
      width: auto;
    }
  }


  .bulletSlide {
    
    width: 100%;
    max-width: 100%;

    .firstFlipSlide {
      color: #ffffff;
      font-size: 36px;
      line-height: 52px;
      padding-top: 200px;
      padding-left: 80px;
      padding-right: 80px;
      text-align: left;
    }

    .bulletSub {
      font-size: 2rem;
    }
  }

  .quoteSlide {
    .quoteText {
      padding-right: 160px;
    }
  }

  .owl-carousel {
    .sliderContent {
      height: 840px;

      &.backSide {
        padding-left: 80px;
        padding-right: 80px;
      }
    }

    .owl-item img {
      padding-top: 65px;
    }

    .owl-next {
      top: 400px;
    }
  }

  .todayTomorrowSlide {
    .todayTomorrowContainer .todayTomorrowMain {
      min-height: 500px;
    }
  }

  .endSlide {
    background: #f6f6f6;

    button {
      background: $tripColor;
    }
  }
}
