@import "../partials/colors";

.purchasePage.pagePaneContainer {
  .titleSlide {
    background: $purchaseColor;

    .slide-title {
      color: $purchaseColor;
    }
  }

  .customPurchaseSlide {
    background: #f8e121;
    height: 100%;
    padding: 60px 0;
    color: #000000;

    .customPurchaseSlideSub {
      color: #000000;
      font-size: 2rem;
      line-height: 1.2px;
      font-family: "Source Sans Pro", helvetica, arial, sans-serif;
      font-weight: 900;
      margin-bottom: 10px;
    }

    h1 {
      color: #000000;
      font-size: 3rem;
      line-height: 1.2;
    }

    p {
      font-family: "Source Sans Pro", helvetica, arial, sans-serif;
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.2;
    }

    .stepOrderContainer {
      padding-top: 40px;
    }

    .stepOrder {
      background: #1a9bd1;
      background: -webkit-linear-gradient(
        to bottom,
        #1a9bd1 25%,
        #26b4e6 50%,
        #2cc1f1 75%
      );
      background: -o-linear-gradient(
        to bottom,
        #1a9bd1 25%,
        #26b4e6 50%,
        #2cc1f1 75%
      );
      background: -moz-linear-gradient(
        to bottom,
        #1a9bd1 25%,
        #26b4e6 50%,
        #2cc1f1 75%
      );
      background: linear-gradient(
        to bottom,
        #1a9bd1 25%,
        #26b4e6 50%,
        #2cc1f1 75%
      );
      padding: 40px 30px;
      min-height: 400px;
      font-size: 36px;
      margin-bottom: 40px;
      position: relative;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 0 20px 60px -10px;
        cursor: pointer;
      }

      img {
        padding: 15px;
        width: 100%;
      }

      strong {
        font-family: "Source Sans Pro", helvetica, sans-serif;
        //text-decoration: underline;
        font-weight: 900;
      }
    }
  }

  .quoteSlide {
    .quoteText {
      margin-top: 40px;
      //font-size: 50px;
      //line-height: 60px;

      img {
        display: block;
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
      }

      .quoteNew {
        font-family: "Source Sans Pro", helvetica, arial, sans-serif;
        //font-size: 2rem;
        //line-height: ;
        padding-top: 40px;
      }
    }
  }

  .todayTomorrowSlide {
    .todayTomorrowContainer .todayTomorrowMain {
      min-height: 500px;
    }
  }

  .endSlide {
    button {
      background: $pretripColor;
    }
  }

  .blueSlide {
    //background: url("../img/PurchaseBLUE.jpg") center center no-repeat;
    //background-size: contain;
  }
}

.purchaseDrawer.ant-drawer {
  .ant-drawer-wrapper-body {
    background: #f8e121;
  }

  

  .infoDrawer {
    img.chartIMG {
      max-width: 100%;
      border-radius: 0;
      position: relative;
      border: none;
      top: auto;
      left: auto;
      padding-top: 120px;
    }

    img.closeIcon {
      border-color: #f8e121;
    }
  }

  .order,
  .payment,
  .settlement {
    font-family: SourceSansPro-Black, helvetica, arial, sans-serif;
    font-size: 2.5rem;
    line-height: 1.2rem;
    padding-bottom: 40px;
  }
}

.order {
  padding-top: 20px;
}

.blueDrawer.ant-drawer {
  .ant-drawer-wrapper-body {
    background: $inspireColor;
  }

  .ant-drawer-content {
    background: $inspireColor;
  }

  .infoDrawer {
    img.closeIcon {
      border-color: $inspireColor;
    }
  }

  .order,
  .payment,
  .settlement {
    font-family: "Source Sans Pro", helvetica, arial, sans-serif;
    font-weight: 900;
    font-size:  3rem;
    line-height: 1.2;
    padding-bottom: 40px;
  }

  h2 {
    color: #ffffff;
    padding-bottom: 80px;
    font-size: 2rem;
    line-height: 1.2;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  strong {
    font-family: SourceSansPro-Black, helvetica, arial, sans-serif;
  }
}
