@import "../partials/colors";

$breakSize: 960px;
$minMobileHeight: 667px; //based off iphone 7/8
$maxMobileHeight: 667px; //based off ipad pro

/* ================================== 
        Styles for Travel Journey Homepage
   ================================== */

.startPageWrapper {
  height: 99.5vh;
  overflow-y: hidden;
  vertical-align: top;
}

.startPage {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

/* ================================== 
        main image styles
   ================================== */
.mainImage {
  max-width: 600px;
  z-index: 30;
  margin: 0 auto;
  width: 100%;

  &--vertical {
    max-width: none;
    width: auto;
    max-height: 500px;
  }
}

.backImage {
  width: auto;
  display: block;
  position: absolute;
  z-index: 29;
}

.backImage1 {
  top: 40%;
  left: 25%;
}

.backImage2 {
  top: 40%;
  right: 80px;
}

.backImageWords {
  width: 100%;
  max-width: 400px;
  top: 120px;
  left: 40px;
}

/* ================================== 
        Horizontal slide styles
   ================================== */

.horizontalSlide {
  //display: none;
  position: relative;
  min-height: $minMobileHeight;
  max-height: $maxMobileHeight;
  height: 100%;
  width: $breakSize;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;

  padding: 40px;

  & .horizontalSlide {
    //display: none;
  }

  & .horizontalSlide.animated {
    //display: flex;
  }

  &.half {
    width: $breakSize / 1.5;
  }

  &.third {
    width: $breakSize / 3;
  }

  &.quarter {
    width: $breakSize / 4;
  }

  &--left {
    align-items: flex-start;
  }

  &--shop {
    .backImageWords {
      top: 80px;
      left: auto;
    }
  }

  &--pretrip {
    .backImageWords {
      top: 20px;
    }
  }
}

.animated { visibility: visible !important; }

.slide-container {
  //visibility: hidden;
  @extend .horizontalSlide
}

.slide-title {
  position: relative;
  color: #ffffff;
  padding: 20px 80px;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;

  img {
    position: absolute;
  }

  &--inspire {
    background: $inspireColor;

    img {
      bottom: -20px;
    }
  }

  &--shop {
    background: $shopColor;

    img {
      bottom: -55px;
      left: -119px;
      z-index: -1;
    }
  }

  &--offer {
    background: $offerColor;

    img {
      bottom: -40px;
      left: 0;
      z-index: -1;
    }
  }

  &--purchase {
    background: $purchaseColor;

    img {
      top: -90px;
      right: -120px;
      width: 150px;
    }
  }

  &--pretrip {
    background: $pretripColor;
  }

  &--trip {
    background: $tripColor;
  }

  &--outcome {
    background: $outcomeColor;
  }
}

.exploreBtn {
  background: transparent;
  color: $regularBlack;
  border: 2px solid $regularBlack;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background: $regularBlack;
    border-color: $regularBlack;
  }

  &--inspire {
    color: $inspireColor;
    border-color: $inspireColor;
  }

  &--shop {
    color: $shopColor;
    border-color: $shopColor;
  }

  &--offer {
    color: $offerColor;
    border-color: $offerColor;
  }

  &--purchase {
    color: $purchaseColor;
    border-color: $purchaseColor;
  }

  &--pretrip {
    color: $pretripColor;
    border-color: $pretripColor;
  }

  &--trip {
    color: $tripColor;
    border-color: $tripColor;
  }

  &--outcome {
    color: $outcomeColor;
    border-color: $outcomeColor;
  }
}

.slide-sep {
  height: 4px;
  width: 64px;
  margin-left: 20px;
  margin-bottom: 40px;

  &--inspire {
    background: $inspireColor;
  }

  &--shop {
    background: $shopColor;
  }

  &--offer {
    background: $offerColor;
  }

  &--purchase {
    background: $purchaseColor;
  }

  &--pretrip {
    background: $pretripColor;
  }

  &--trip {
    background: $tripColor;
  }

  &--outcome {
    background: $outcomeColor;
  }
}

.slideLink {
  color: #189bb0;
  margin-left: 20px;

  &:hover {
    color: inherit;
    opacity: .8;
  }
  
  &--inspire {
    color: $inspireColor;
  }

  &--shop {
    color: $shopColor;
  }

  &--offer {
    color: $offerColor;
  }

  &--purchase {
    color: $purchaseColor;
  }

  &--pretrip {
    color: $pretripColor;
  }

  &--trip {
    color: $tripColor;
  }

  &--outcome {
    color: $outcomeColor;
  }
}

.slide-subtitle {
  position: absolute;
  top: 0;
  color: $regularGrey;
  font-family: "Amatic SC", "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 4rem;

  &--step {
    color: $regularBlack;
    left: 60px;
  }
}

.slide-content {
  font-size: 1.5rem;
  margin-left: 20px;
  margin-bottom: 20px;
  max-width: 100%;

  strong {
    font-weight: 700;
  }
}

.horizontalSlide1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;

  .mainTitle {
    color: $regularBlack;
    font-weight: 900;
    margin: 0;
    line-height: 0.8;
  }

  .slide1-arrow {
    position: absolute;
    top: 80px;
    right: 40px;
    margin-bottom: 80px;
  }
}

.horizontalSlide2 {
}

@media screen and (max-width: 786px) {
  .startPageWrapper {
    height: auto;
    width: 100%;
    overflow-x: hidden;
  }

  .horizontalSlide {
    .backImageWords {
      position: relative;
      left: 0;
      top: auto;
      align-self: flex-start;
    }
  }

  .backImage2 {
    display: none;
  }

  .startPage {
    width: 100% !important;
    flex-direction: column;

    .horizontalSlide {
      width: 100%;

      .mainTitle {
        font-size: 8rem;
      }

      &.half,
      &.quarter {
        width: 100%;
      }
    }
  }

  .horizontalSlide1 {
    .slide1-arrow {
      width: 45%;
    }

    .slide1-subtitle {
    }
  }
}

@media screen and (max-width: 576px) {
  .startPage {
    .horizontalSlide {
      flex-direction: column;
      justify-content: center;
      padding: 20px;

      .mainTitle {
        font-size: 5rem;
      }

      .slide1-subtitle {
        position: relative;
      }
    }
  }

  .horizontalSlide1 {
    align-items: flex-start;
    align-content: center;
    .slide1-arrow {
      width: 45%;
    }

    .slide1-subtitle {
      font-size: 2.5rem;
    }

    .slide1-arrow {
      right: auto;
      margin-bottom: 0;
      width: auto;
      max-width: 100%;
      position: relative;
    }
  }

  .slide-title {
    padding-left: 50px;
    padding-right: 50px;
  }
}
